#form_block {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em; 
    min-width: 500px;
    clear: both;
}

/* forms */
.field {
    clear: both;
    float: left;
    padding: 0.5em 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.field label {
    font-weight: bold;
    width: 12em;
    clear: left;
    float: left;
    margin-top: 6px;
}

.field input, .field select {
    padding: 0.25em;
    width: 22em;
    border: 2px solid #A79787;  
    clear: right;
    float: left;
}

.field input[type = "checkbox"] {
  padding: 0.25em;
  width: 1em;
    border: 2px solid #A79787;  
    clear: right;
    float: left;
}

.field textarea {
  padding: 0.25em;
    border: 2px solid #DBCCB6;
    clear: right;
    float: left;
}

.field input[type = "text"]:focus, .field input[type = "password"]:focus {
    background-color: #F9F7E5;
}

.field input[type = "submit"] {
    font-weight: bold;
    margin: 0 0 2em 10.8em;
    padding: 0.25em 0.7em;
    width: auto;
}
.separator {
  clear: both;
}
